body{
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
    background:#0f172a;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    text-align:center;
    width:90%;
    max-width:600px;
}

/* Logo Design */
.logo-container{
    text-align:center;
    padding:15px;
}

.logo{
    width:220px;
    height:auto;
    border-radius:15px;
}


/* Search Engine Name */
h1{
    color:#22c55e;
    font-size:50px;
    margin-bottom:30px;
}


/* Search Box */
input{
    width:100%;
    padding:15px;
    font-size:18px;
    border:2px solid #22c55e;
    border-radius:10px;
    outline:none;
    box-sizing:border-box;
}


/* Search Button */
button{
    margin-top:15px;
    padding:12px 25px;
    font-size:18px;
    background:#22c55e;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}


button:hover{
    background:#16a34a;
}


/* Founder Text */
p{
    color:white;
    margin-top:20px;
}
