body{
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(135deg, #0f172a, #1e3a8a);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}


.container{
    text-align:center;
    width:90%;
    max-width:600px;
}


/* Logo Design */
.logo-container{
    text-align:center;
    padding:15px;
}


.logo{
    width:300px;
    max-width:80%;
    height:auto;
    border-radius:15px;
}


/* Search Engine Name */
h1{
    color:#22c55e;
    font-size:35px;
    margin-bottom:30px;
    font-weight:700;
}


/* Search Box */
input{
    width:100%;
    padding:15px;
    font-size:18px;
    border:2px solid #22c55e;
    border-radius:10px;
    outline:none;
    box-sizing:border-box;
}


/* Search Button */
button{
    margin-top:15px;
    padding:12px 25px;
    font-size:18px;
    background:#22c55e;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}


button:hover{
    background:#16a34a;
}


/* Founder Text */
p{
    color:white;
    margin-top:20px;
}


/* Footer */
footer{
    margin-top:40px;
    color:white;
    font-size:14px;
}


footer p{
    margin:8px;
}


/* Mobile View */
@media (max-width:600px){

    .container{
        width:90%;
    }


    h1{
        font-size:35px;
    }


    .logo{
        width:180px;
    }


    input{
        font-size:16px;
        padding:12px;
    }


    button{
        font-size:16px;
        padding:10px 20px;
    }

}
